.button-style {
 text-align: center;
}

.button1 {
background-color:rgb(25, 135, 84);
color: white;
 font-size: 14px;
 line-height: 1.7;
 margin-bottom: 15px;
}

.button2 {
background-color: #158FEF;
color: white;
line-height: 1.7;
margin-bottom: 20px;
}

.registration{
    color: white;
    text-decoration: none;
}