.content-disable {
  pointer-events: none;
  opacity: 0.4;
  margin-top: 10px;
}

.bold {
  font-weight: bold;
}

.info-icon.maticon-align {
  margin-top: 25px;
}
.info-icon.review-content {
  line-height: 5.5;
}
.logo.review-content {
  margin-top: 36px;
}
