::ng-deep input[ng-reflect-disabled="true"], ::ng-deep input[ng-reflect-readonly="true"] {
  color:#a6a4a4d1 !important;
}
  .distant-img {
  margin-top: -10px;
  margin-left: -8px;
}
.matureDriver-img {
  margin-top: -10px;
  margin-left: -8px;
}
.add-driver-link {
  margin-top: 5px;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.bwr-driver-form {
  .driver-flex-container {
    display: flex;
    height: 100%;
    width: auto;
    box-sizing: border-box;
  }  
  .container-list {
    // flex-grow: 1;
    box-sizing: border-box;
    width: 26%;
    min-width: 26%;
  }  
  .container-list + .container-list {
    margin-left: 1%;
  }
  .delete-btn.mat-icon-button {
    line-height: 1px;
    // width: 15px;
    // height: 15px;
    // font-size: 12px;
    // float: right;
    position: absolute;
    bottom: 0px;
    top: -4px;
    right: 20px;
    color: #fff;
    .mat-icon {
      font-size: 19px;
    }
  }  
/*----- Drivers page -----*/
.add-btn {
  border: 1px solid #158FEF;
  color:#158FEF;
  margin-top: 90%;
  margin-left: 10%;
  width: auto;
  max-width: fit-content;
  background: #fff;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 1px 2px 4px 2px #cbcbcb;
}

.loading{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  animation: spin 2s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
}
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper{
    position: relative;
    padding-bottom: 5px !important;
  }
  ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0px !important;
  }
  ::ng-deep .mat-error{
    margin-bottom: 0px !important;
  }
  ::ng-deep .mat-form-field-subscript-wrapper{
    margin-top: 2px !important;
  }