 /*
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color:#E1EDFA;
  } */

/*
  ::ng-deep .mat-form-field-type-mat-select:not(.mat-form-field-disabled)
  .mandatory-field.mat-form-field-flex {
    background-color: #E1EDFA !important;
}

.form-control.mandatory-field
{
  background-color: #E1EDFA !important;
}
*/
